
.SA_SpeakerAnimation{
    .SA_SpeakerAnimation_grop{
        .SA_SA_img_1{
            background-image: url( /public/assets/img/sound/volume-sound-1.png );
        }
        .SA_SA_img_2{
            background-image: url( /public/assets/img/sound/volume-sound-2.png );
        }
        .SA_SA_img_3{
            background-image: url( /public/assets/img/sound/volume-sound-3.png );
        }
        .SA_SA_img_4{
            background-image: url( /public/assets/img/sound/volume-sound-4_1.png );
        }
    }
}