.OFW_Message{
    font-size: 1em;
    flex-grow: 1;
    max-width: 100%;

    span{
        font-size: 0.76em;
        font-family: Trebuchet MS, Helvetica, sans-serif;
        color: #f31212;
    }

    
}