.LanguageMenu{
    font-size: 1em;
    height: calc( 100% - 2px );
    max-height: 3em;
    margin: 0 0.5em;
    background-color: #f3f3f3;
    border: 1px solid #263a72;
    border-radius: 0.1em;
    width: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    .LM_current_btn{
        font-size: 1em;

        padding: 0em 0.8em;

        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        
        img{
            font-size: 1em;
            height: 1.6em;
            max-width: 1.6em;
            margin-right: 0.5em;
            object-fit: contain;
        }

        span{
            font-size: 0.76em;
            color: #254658;
            font-family: Verdana, Geneva, sans-serif;
        }

    }

    .LM_menu_wrap{
        font-size: 1em;
        position: absolute;
        top: calc( 100% + 1px );
        right: 0;
        // height: 5em;
        width: fit-content;
        background-color: rgb(255, 255, 255);
        padding: 0.25em 0em;

        border: 1px solid #b0bcde;
        border-radius: 0.1em;

        .LM_btn_wrap{
            font-size: 0.9em;

            display: flex;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            background-color: #ffffff;
            margin: 0.2em 0.5em;
            border-radius: 0.1em;
            padding: 0.2em 0.6em;

            cursor: pointer;
            user-select: none;

            img{
                font-size: 1em;
                height: 1.6em;
                max-width: 1.6em;
                margin-right: 0.5em;
                object-fit: contain;
            }

            span{
                font-size: 0.76em;
                color: #254658;
                font-family: Verdana, Geneva, sans-serif;
            }
        }

        .LM_btn_wrap:hover{
            background-color: #ebebeb;
        }






        

    }
}

.LanguageMenu.isActive{
    >.LM_current_btn{
        cursor: pointer;
        user-select: none;

    }


}

.LanguageMenu.isActive:hover{
    background-color: #ffffff;
    .LM_current_btn{
        span{
            color: #0d3951;
        }
    }
}