.AWGComponent{
    font-size: 1em;

    .AWGC_topButtons{
        font-size: 1em;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
    }

    .AWGC_list{
        font-size: 1em;
    }

    .AWGC_btnSend{
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }




}