.addNewWord{
    font-size: 1em;
    padding: 0.5em 1em;

    .ANW_addBtnWrap{
        font-size: 1em;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-content: center;


    }
    
}