.OFW_AudioList_add{
    font-size: 1em;
    background-color: #ccded9;
    height: 1.2em;
    width: 1.3em;

    border-radius: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    cursor: pointer;
    user-select: none;
    

    span{
        font-size: 0.8em;
        color: #5c7b80;
        padding: 0.2em 0 0em 0em;
    }

    >.hiddenInput{
        display: none;
    }

}

.OFW_AudioList_add:hover{
    background-color: #87e3c9;
    span{
        color: #525c5e;
    }
}
.OFW_AudioList_add:active{
    span{
        color: #b49c80;
    }
}
