
.AMP_AdminMainPage{
    font-size: 1em;
    

    .MP_blockWrap{
        font-size: 1em;
        background-color: #f6f2f6;
        border: 1px solid #e5c6e5;
        border-radius: 0.1em;
        margin: 0.5em 2em;
        padding: 0.5em 1em;

        .MP_topBlockWrap{
            font-size: 1em;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            align-content: center;
        }
    }
}
