.AL_QuestionContainer{
    font-size: 1em;
    background-color: #ffffff;
    border: 1px solid #c1d2d1;
    border-radius: 0.1em;
    height: 10em;

    width: 100%;
    // width: 70vw;

    // max-width: 40em;
    max-width: 50em;
    position: relative;

    transition: border-color 0.5s ease;

    .taskWrap{
        font-size: 1em;
        width: calc(100% + 2px );
        height: 2.2em;
        position: absolute;
        top: -2.2em;
        left: -1px;
    }

    .AL_AppStep_body_wrap{
        font-size: 1em;
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }

}

.AL_QuestionContainer.isHovered:hover{
    cursor: pointer;
    border: 1px solid #01cb8b;
}



@media (max-height: 600px){
    .AL_QuestionContainer{
        height: 9em;
    }
}
@media (max-height: 520px){
    .AL_QuestionContainer{
        height: 8em;
    }
}

@media (max-height: 480px){
    .AL_QuestionContainer{
        height: 7.2em;
    }
}
@media (max-height: 460px){
    .AL_QuestionContainer{
        height: 6.4em;
    }
}
@media (max-height: 450px){
    .AL_QuestionContainer{
        height: 6em;
    }
}
@media (max-height: 440px){
    .AL_QuestionContainer{
        height: 5.2em;
    }
}
@media (max-height: 430px){
    .AL_QuestionContainer{
        height: 7em;
    }
}
@media (max-height: 370px){
    .AL_QuestionContainer{
        height: 6.2em;
    }
}
@media (max-height: 360px){
    .AL_QuestionContainer{
        height: 5.8em;
    }
}
