.buttonWordsAsText{
    font-size: 1em;
    position: relative;

    margin: 0 1em 0 0;

    >.ButtonAdd{
        min-width: 1em;
        padding: .36em .64em;

        >.ButtonAdd_icon{
            margin-right: 0em;
        }
    }

    .BWAT_type{
        font-size: 1em;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        margin: 1em 0.5em;

        span{
            font-size: 0.8em;
            padding: 0.3em 1em;
            border: 1px solid #222dd0;
            border-radius: 0.1em;
            color: #222dd0;
            margin-right: 1em;
            text-align: center;
            min-width: 10em;
            cursor: pointer;
            user-select: none;
            
        }

        span:hover:not( .isActive ){
            // font-size: 0.8em;
            // padding: 0.3em 1em;
            // border: 1px solid #222dd0;
            // border-radius: 0.1em;
            // color: #222dd0;
            // margin-right: 1em;
            // text-align: center;
            // min-width: 10em;
            // cursor: pointer;
            // user-select: none;
            background-color: #e6e7f4;
            
        }

        span.isActive{
            background-color: #222dd0;
            color: #e2e2e2;

        }
    }

    .BWAT_btn{
         font-size: 1em;

        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 1em 0.5em;

        span{
            font-size: .8em;
            padding: .3em 1em;
            border: 1px solid #cfc0c0;
            border-radius: .1em;
            background-color: #e9e9e9;
            color: #323233;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-family: Trebuchet MS, Helvetica, sans-serif;
            margin: .3em .5em;
            
        }
        span:hover{
            background-color: #fff;
            border: 1px solid #818181;
            color: #272727;

        }
        span:active{
            background-color: #fff;
            border: 1px solid #818181;
            color: #be5757;
        }
    }
}