.APT_LessonsCount{
    font-size: 1em;
    width: 7em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;

    .APT_LC_title{ 
        font-size: 0.76em;
        color: #9c9c9c;
        margin-right: 0.2em;
        padding-bottom: 0.03em;

    }
    .APT_LC_num{ 
        font-size: 0.8em;
        color: #676767;
        font-family: Arial, Helvetica, sans-serif;

    }

    .APT_LC_num_bold{
        font-weight: bold;
    }

    .APT_LC_slesh{ 
        font-size: 0.96em;
        color: #676767;
        // font-family: Arial, Helvetica, sans-serif;
        margin: 0 0.1em;

    }

    
}