.AWGLoadingFromFile{
    font-size: 1em;
    padding: 1em 2em;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    .AWGLoadingFromFile_text{
        font-size: 0.8em;
        color: #545455;
        font-family: Trebuchet MS, Helvetica, sans-serif;
    }

    // .AWGLoadingFromFile_btn{
    //     font-size: 0.8em;
    //     padding: 0.3em 1em;
    //     border: 1px solid #cfc0c0;
    //     border-radius: .1em;
    //     background-color: #e9e9e9;
    //     color: #323233;
    //     cursor: pointer;
    //     user-select: none;
    //     font-family: Trebuchet MS, Helvetica, sans-serif;
    //     margin: 0 0.5em;
    // }
    // .AWGLoadingFromFile_btn:hover{
    //     background-color: #ffffff;
    //     border: 1px solid #818181;
    //     color: #272727;
    // }

    // .AWGLoadingFromFile_btn:active{
    //     background-color: #ffffff;
    //     border: 1px solid #818181;
    //     color: #be5757;
    // }

    .AWGLoadingFromFile_fileName{
        font-size: 0.72em;
        color: #212192;
        font-family: Trebuchet MS, Helvetica, sans-serif;
        margin: 0 0.5em;
    }

        
    // >.hiddenInput{
    //     display: none;
    // }


    // .AWGBtnFromFile_btn{
    //     font-size: 0.8em;
    //     color: #1517bb;
    //     cursor: pointer;
    //     user-select: none;
    //     font-family: Trebuchet MS, Helvetica, sans-serif;
    // }
    // .AWGBtnFromFile_btn:hover{
    //     text-decoration: underline;
    //     color: #1416a1;
    // }
    // .AWGBtnFromFile_btn:active{
    //     text-decoration: none;
    //     color: #1d20d1;
    // }

    
}