.OFW_ControlButtons{
    font-size: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
}