.ButtonAdd{
    font-size: 1em;

    min-width: 8em;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #2c836c;
    padding: 0.32em 0.64em;
    border-radius: 0.1em;
    border: 1px solid #2c7d67;

    cursor: pointer;
    user-select: none;

    .ButtonAdd_icon{
        font-size: 0.9em;
        margin-right: 0.32em;
        padding: 0.2em 0 0em;

        color: #ffffff;
    }
    .ButtonAdd_title{
        font-size: 1em;
        color: #ffffff;

        font-family: Arial, Helvetica, sans-serif;
    }
}

.ButtonAdd:hover{
    background-color: #489983;
    border: 1px solid #2c7d67;
}

.ButtonAdd:active{
    background-color: #489983;
    border: 1px solid #215f4e;
    .ButtonAdd_title{
        color: #f5caca;
    }
}