.OC_Input{
    font-size: 1em;
    margin: 0.3em 0.5em;
    flex-grow: 1;
    max-width: 100%;
    
    .OC_Input_inp_wrap{
        input.OC_Input_inp{
            font-size: 0.9em;
            text-align: left;
            padding: .4em 0.4em;
            margin: 0.2em 0;
            text-indent: 1.4em;
            background-color: #f7f7f6;
            border: 1px solid #cccccc;
            outline: none;
            width: calc( 100% - 0.8em );
            font-family: 'Trebuchet MS', Helvetica, sans-serif;
        }

        input.OC_Input_inp:focus{
            background-color: #ffffff;
            border: 1px solid #959595;

        }

        textarea.OC_Input_inp{
            font-size: 0.9em;
            text-align: left;
            padding: .4em 1em;
            margin: 0.2em 0;
            text-indent: 1.4em;
            background-color: #f7f7f6;
            border: 1px solid #cccccc;
            outline: none;
            width: calc( 100% - 1.8em );
            font-family: 'Trebuchet MS', Helvetica, sans-serif;
            resize: vertical;
            min-height: 3.4em;
        }

        textarea.OC_Input_inp:focus{
            background-color: #ffffff;
            border: 1px solid #959595;

        }

    }

}

.OC_Input.OC_Input_error{
    padding-bottom: 0.5em;
    input.OC_Input_inp{
        border-color: #e23d3d;

       
    }
    input.OC_Input_inp:focus{
        // background-color: #ffffff;
        border: 1px solid #e23d3d;

    }

    textarea.OC_Input_inp{
        border-color: #e23d3d;

       
    }
    textarea.OC_Input_inp:focus{
        // background-color: #ffffff;
        border: 1px solid #e23d3d;

    }

    .OC_Input_errText{
        display: block;
    }
}