#wordsListAsText{
    font-size: 1em;
    padding-top: 2em;
    max-width: 60em;
    flex-grow: 1;
    width: calc( 100% - 2px );
    .wordsListAsText{
        font-size: 1em;
        background-color: #f9eee8;
        padding: 0.8em 0em;
        border-radius: 0.1em;
        border: 1px solid #e6d5cb;
    

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        max-width: 56em;

        position: relative;

        @media screen and (min-width: 10px) and (max-width: 480px){
            
            .WLAT_changeBtns{
                left: 0em;
        
            }
        }

        >.WLAT_changeBtns{
            font-size: 1em;
            position: absolute;
            top: -1.8em;;
            left: 1em;
            width: calc( 100% - 4px );

            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            

            >.WLAT_btn{
                font-size: 1em;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                padding: 0.2em 0.6em;
                // background-color: #f2c0a4;
                border: 1px solid #e4b9a2;
                margin-right: 0.8em;
                cursor: pointer;
                user-select: none;

                >.lang_name{
                    font-size: 0.8em;
                    color: #814524;
                }

                >.icon{
                    font-size: 0.52em;
                    // padding: 0 0.1em;
                    color: #d18255;
                }

                >.icon.icon-shuffle{
                    font-size: 0.78em;
                    padding-top: 0.2em;
                    color: #614b4b;
                }
            }

            .WLAT_btn.isActive{
                background-color: #f2c0a4;
                border: 1px solid #e4b9a2;
                >.lang_name{
                    color: #6f2903;
                }
                >.icon{
                    color: #646464;
                }
            }
            .WLAT_btn:hover{
                background-color: #f2c0a4;
            }
            .WLAT_btn:active{
                border: 1px solid #be9078;
            }

            .WLAT_btn.WLAT_btn_first{
                margin-left: 1em;
            }

            .WLAT_btn.isSingle{

            }

            @media screen and (min-width: 10px) and (max-width: 480px){

                .WLAT_btn.isSingle{
                    >.lang_name{
                        display: none;
                    }
            
                }
                .WLAT_btn.WLAT_btn_first{
                    margin-left: 0;
                }
            }

            .WLAT_btn.isSingle:hover{
                background-color: #f9e1d3;
                border: 1px solid #e4b9a2;
                >.lang_name{
                    color: #6f2903;
                }
                >.icon{
                    color: #646464;
                }
            }

            .WLAT_btn.isSingle:active{
                // background-color: #f9e1d3;
                border: 1px solid #be886b;
                >.lang_name{
                    color: #be886b;
                }
                >.icon{
                    color: #646464;
                }
            }
        }

        >span{
            font-size: 0.9em;
            margin: 0.1em 0;
            padding: 0.2em 0.8em;
            border-radius: 0.1em;
            cursor: pointer;
            user-select: none;
            border: 1px solid #e7c5b200;
            color: #000000;
        }

        >span.forTitle:hover{
            background-color: #ffffff;
            border: 1px solid #e7c5b2;
        }
        >span.forTitle:active{
            // background-color: #ffffff;
            // border: 1px solid #e7c5b2;
            color: #e50000;
        }

        >span.forTitle[data-title] {
            // font-size: 0.8em;
            position: relative; /* Важно для позиционирования псевдоэлемента */
        }

        >span.forTitle[data-title]::after {
            font-size: 0.8em;
            content: attr(data-title);
            position: absolute;
            bottom: calc(100% + 0.2em);
            left: 0;
            z-index: 100;
            background: #db6f35;
            color: #fff;
            padding: 0.4em 0.8em;
            border-radius: 0.1em;
            display: none; /* По умолчанию скрыта */
            white-space: nowrap; /* Чтобы текст не переносился */
            font-family: Verdana, Geneva, sans-serif;
            height: fit-content;
        }

        >span.forTitle[data-title]:hover::after {
            display: block; /* Показываем при наведении */
        }





        // >span.wordColumn{
        //     font-size: 1em;
        //     width: 100%;

        //     >span{
        //         font-size: 0.9em;
        //         margin: 0.1em 0;
        //         padding: 0.2em 0.8em;
        //         border-radius: 0.1em;
        //         cursor: pointer;
        //         user-select: none;
        //         border: 1px solid #e7c5b200;
        //         color: #000000;
        //     }

        //     >span.forTitle:hover{
        //         background-color: #ffffff;
        //         border: 1px solid #e7c5b2;
        //     }
        //     >span.forTitle:active{
        //         // background-color: #ffffff;
        //         // border: 1px solid #e7c5b2;
        //         color: #e50000;
        //     }

        //     >span.forTitle[data-title] {
        //         // font-size: 0.8em;
        //         position: relative; /* Важно для позиционирования псевдоэлемента */
        //     }

        //     >span.forTitle[data-title]::after {
        //         font-size: 0.8em;
        //         content: attr(data-title);
        //         position: absolute;
        //         bottom: calc(100% + 0.2em);
        //         left: 0;
        //         z-index: 100;
        //         background: #db6f35;
        //         color: #fff;
        //         padding: 0.4em 0.8em;
        //         border-radius: 0.1em;
        //         display: none; /* По умолчанию скрыта */
        //         white-space: nowrap; /* Чтобы текст не переносился */
        //         font-family: Verdana, Geneva, sans-serif;
        //         height: fit-content;
        //     }

        //     >span.forTitle[data-title]:hover::after {
        //         display: block; /* Показываем при наведении */
        //     }


           
        // }

 












    }

    .WLAT_typeText.wordsListAsText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        // max-width: 56em;
        // min-width: 56em;

        width: calc( 100% - 2em );
        padding-left: 2em;


        >span[data-title]::after {
            top: 0;
            left: calc(100% + 0.2em);
            
        }
    }
}
