.MLS_TextSpan{
    font-size: 0.76em;

    font-family: Verdana, Geneva, sans-serif;
    white-space: nowrap;
    
    font-size: 0.7em;
    text-shadow: -1px -1px 0 #5e6bdf, 1px -1px 0 #5e6bdf, -1px 1px 0 #5e6bdf, 1px 1px 0 #5e6bdf;
    margin-right: 0.3em;
    color: #eeeeeefa;
}