.OC_Input{
    .OC_Input_title{
        font-size: 0.8em;
        color: #343434;

        text-indent: 1.6em;

        font-family: Verdana, Geneva, sans-serif;

        .isReq{
            font-size: 0.78em;
            color: #f65050;
            font-weight: bold;
            margin-left: 0.5em;
        }
    }
}