#appShowAnimation{
    font-size: 1em;
    width: 0%;
    height: 0%;
    background-color: #f5faff;
    z-index: 2000;

    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: center;
    // align-content: flex-start;

    transition: transform 0.1s ease-in, opacity 0.1s ease-in;
    width: 100%;
    height: 100%;

    .ASA_cancel_place{
        font-size: 1em;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        align-content: flex-start;

        height: 1.5em;
        background-color: #e4eef8;
        border-left: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;


        .ASA_cancel_wrap{
            font-size: 1em;
            border-radius: 0.1em;
            background-color: #667e96;
            height: 1.45em;
            width: 1.45em;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: flex-start;
            cursor: pointer;
            user-select: none;

            >span{
                font-size: 0.75em;
                color: #ffffff;
            }
        }

        .ASA_cancel_wrap:hover{
            background-color: #2e4f6f;
        }
        .ASA_cancel_wrap:active{
            background-color: #667e96;
             >span{
                color: #fad8d8;
            }
        }


        

    }
    .ASA_work_place{
        font-size: 1em;
        height: calc( 100% - 1.5em );
        border-left: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
    }
}

#appShowAnimation.appShow{
    
    transform: scale( 1 );
    opacity: 1;
}

#appShowAnimation.appHide{
    transform: scale( 0.9 );
    opacity: 0;
}