@media screen and (min-width: 1180px) and (max-width: 16000px){
    .backgroundContainer{
        background-image: url( /public/assets/img/bg/bg_wildflowers_2000.jpg );
    }
}

@media screen and (min-width: 960px) and (max-width: 1180px){
    .backgroundContainer{
        background-image: url( /public/assets/img/bg/bg_wildflowers_1200.jpg );
    }
}

@media screen and (min-width: 740px) and (max-width: 960px){
    .backgroundContainer{
        background-image: url( /public/assets/img/bg/bg_wildflowers_960.jpg );
    }
}

@media screen and (min-width: 480px) and (max-width: 740px){
    .backgroundContainer{
        background-image: url( /public/assets/img/bg/bg_wildflowers_740.jpg );
    }
}

@media screen and (min-width: 10px) and (max-width: 480px){
    .backgroundContainer{
        background-image: url( /public/assets/img/bg/bg_wildflowers_480.jpg );
    }
}